# Node modules
/node_modules/

# Environment variables (e.g., API keys, DB credentials)
.env

# Logs
/logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/application/node_modules/

# Milestones and credentials
/milestones/
/credentials/

/LICENSE
/README.md

# Build outputs or cache
dist/
build/
coverage/

# Docker-related files (if any)
docker-compose.override.yml
