<!-- application/src/views/register.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GatorTutor</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- Include custom CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite/dist/flowbite.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
      defer
    ></script>
  </head>

  <body class="bg-gray-100">
    <%- include('partials/header') %>
    <main class="pt-[calc(4rem+5rem)]">
      <!-- Register Form Section -->
      <section id="sign-up-form" class="py-20 bg-white">
        <div class="container px-6 mx-auto">
          <h2 class="mb-6 text-3xl font-bold text-center">
            Create Your Account
          </h2>
          <form
            id="registerForm"
            action="/register"
            method="POST"
            class="max-w-lg p-8 mx-auto bg-gray-100 rounded-lg shadow-lg"
          >
            <div class="mb-4 step">
              <label for="role" class="block mb-2 font-bold text-gray-700"
                >I am a:</label
              >
              <div class="flex justify-center">
                <button
                  type="button"
                  id="studentBtn"
                  class="px-4 py-2 text-white bg-blue-500 rounded-l-lg role-btn"
                >
                  Student
                </button>
                <button
                  type="button"
                  id="tutorBtn"
                  class="px-4 py-2 text-black bg-gray-300 rounded-r-lg role-btn"
                >
                  Tutor
                </button>
                <input type="hidden" id="role" name="role" value="student" />
              </div>
            </div>
            <div class="mb-4 step">
              <label for="name" class="block mb-2 font-bold text-gray-700"
                >Name:</label
              >
              <input
                type="text"
                id="name"
                name="name"
                class="w-full px-3 py-2 border rounded-lg"
                required
              />
            </div>
            <div class="mb-4 step">
              <label for="email" class="block mb-2 font-bold text-gray-700"
                >Email:</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="w-full px-3 py-2 border rounded-lg"
                required
              />
            </div>
            <div class="mb-4 step">
              <label for="password" class="block mb-2 font-bold text-gray-700"
                >Password:</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="w-full px-3 py-2 border rounded-lg"
                required
              />
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="px-8 py-3 text-lg font-semibold text-white transition duration-300 rounded-full btn-primary hover:bg-indigo-700"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('partials/scripts') %>
    <script>
      document
        .getElementById("studentBtn")
        .addEventListener("click", function () {
          document.getElementById("role").value = "student";
          this.classList.add("bg-blue-500", "text-white");
          this.classList.remove("bg-gray-300", "text-black");
          document
            .getElementById("tutorBtn")
            .classList.add("bg-gray-300", "text-black");
          document
            .getElementById("tutorBtn")
            .classList.remove("bg-blue-500", "text-white");
        });

      document
        .getElementById("tutorBtn")
        .addEventListener("click", function () {
          document.getElementById("role").value = "tutor";
          this.classList.add("bg-blue-500", "text-white");
          this.classList.remove("bg-gray-300", "text-black");
          document
            .getElementById("studentBtn")
            .classList.add("bg-gray-300", "text-black");
          document
            .getElementById("studentBtn")
            .classList.remove("bg-blue-500", "text-white");
        });
    </script>
  </body>
</html>
